<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Productos</title>
</head>
<body>
    <section class="formulario">
       
        <form action="/creat" method="POST">
            <div> 
                <label for="name">Nombre </label>
                <p><input type="text" name="name" id="" required></p>
                
            </div>
                <label for="price">Precio</label>
                <p><input type="number" name="price" id="" required> </p>
                
            <div>
                <label for="description">Description </label>
                <p><input type="text" name="description" id="" required></p>
                
            </div>
            <div>
                <label for="brand_id">Brand_id </label>
                <p><input type="number" name="brand_id" id="" required></p>
                

            </div>
            <div>
                <label for="material_id">Material_id </label>
                <p><input type="number" name="material_id" id="" required></p>
                

            </div>
            <div>
                <label for="color_id">Color_id </label>
                <p><input type="number" name="color_id" id="" required></p>
                

            </div>
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/">SHOP ME</a></p>
        </form>
    </section>
    
</body>
</html>