<!DOCTYPE html>
<html>
 <%- include("partials/head") %> 
  <body>
    <%- include("partials/header") %>
    <div class="lorem">
        <p class="texto">Nuestra tienda es una de las tiendas top de toda latinoámerica ,somos internacionales. Actualmente nos caracterizamos por el fuerte de envios a domicilio a tu hotel preferido o donde quiera que estes tu envio te llegara sano ,seguro, y con garantia , SOMOS SHOP ME</p>
    </div>
    
    <div class="banner"><img class="banner_img" src="images/13.png" alt="banner" > 
    
    </div>
   
    <%- include("partials/footer") %> 
    
    
  </body>
</html>
